<html>
  <head>
    <title>Meadowlark Travel</title>
    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css' />
  </head>
  <body>
    <header>
      <img src='/img/logo.png' alt='Meadowlark Travel Logo' />
    </header>
    {{{body}}}
  </body>
</html>